@model IShareMVCFinal.Models.ViewModels.CreateNoteUserModelView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />
<hr />

@using (Html.BeginForm("Create", "Notes"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.NoteItem.Title)
        @Html.TextBoxFor(m => m.NoteItem.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoteItem.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NoteItem.Description)
        @Html.TextAreaFor(model => model.NoteItem.Description, new { @class = "form-control", rows = "2", cols = "", style = "width: 100%; height: 50px;" })
        @Html.ValidationMessageFor(m => m.NoteItem.Description)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NoteItem.Content)
        @Html.TextAreaFor(model => model.NoteItem.Content, new { @class = "form-control", rows = "3", cols = "", style = "width: 100%; height: 70px;" })
        @Html.ValidationMessageFor(m => m.NoteItem.Content)
    </div>

    @Html.HiddenFor(m => m.NoteItem.OriginalAuthor, Model.UserItem.Id)
    @Html.HiddenFor(m => m.NoteItem.UserId, Model.UserItem.Id)

    <div id="wrapper">
        <p>Add a tag "," to enter :)</p>
        <ul class="tags-input">            
            <li class="tags-new">
                <input type="text"> 
            </li>
        </ul>  
    </div>
    
    <!--Need to make a TAG lis and pass it note and list of tags -->

    <button type="submit" id="addNoteBtn" class="btn btn-default">Add Note</button>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/tagScript.js"></script>
