@model IShareMVCFinal.Models.Tables.Note

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<hr/>
<hr/>

@using (Html.BeginForm("Login", "Users"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "2", cols = "", style = "width: 100%; height: 50px;" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

   
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = "3", cols = "", style = "width: 100%; height: 70px;" })
        @Html.ValidationMessageFor(m => m.Content)
    </div>
    
    <button type="submit" class="btn btn-default">Add Note</button>
}

