<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
   <script src="~/Scripts/tagScript.js"></script>

<style type="text/css">
    @@font-face
    {
        font-family: 'TSTARBold'; 
        src: url('/TSTAR-TW-PRO-Bold-1.ttf'); 
    }
    @@font-face
    {
        font-family: 'TSTARRegular'; 
        src: url('/TSTAR-TW-PRO-Regular-1.ttf'); 
    }
    .tsarB 
    {
        font-family: 'TSTARBold';
    }
    .tsarR 
    {
        font-family: 'TSTARRegular';
    }
    .robo {
        font-family: 'Roboto', sans-serif;
    }

</style>


<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
            @Html.ActionLink("IShare", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})           
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               
                 <li class="hidden">
                     @Html.ActionLink("IShare", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Add Note", "Create", "Notes")
                </li>
                <li>
                    <a class="page-scroll" href="#">Account</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    

<div class="container body-content">
    @RenderBody()
    <hr/>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
