@using IShareMVCFinal.DAO
@model IShareMVCFinal.Models.ViewModels.LikeViewModel
  
@{
    ViewBag.Title = "Home Page";
}

<div id="overlay">
    <button type="button" class="btn btn-default" id="closeOverlayBtn">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    
    <div id="whiteOverlay">        
        <div id="overlayText">
            <div id="noteTitle"></div>
            <div id="noteAuthor"></div>
            <div id="noteDescription"></div>            
            <hr/>
            <div id="noteContent"></div>
        </div>
        
        <div id="overlayButtonRow">
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>                                                                    
        </div>
    </div> 
</div>

<div id="searchBarContainer"> 
    <div class="row">
        <div class="col-md-12">               
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>USER: @Model.UserItem.UserName </h3>
<hr />

<div class="row">
    <div id="div1"></div>
    <!-- Note Content -->
    <div id="div2" class="col-xs-12">        
        <div id="noteSection">
            <ul class="cards">                
                @foreach (var note in @Model.NoteList)
                {
                    <li class="cards__item" id= "@note.NoteId">
                        <div class="card">
                            <div class="card__content">
                                <div class="card__title"> @note.Title</div>
                                <div class="card__title"> @note.UserId</div>
                                <p class="card__text"> @note.Description</p>
                                
                                <input type="hidden" id ="title" value="@note.Title" />
                                <input type="hidden" id ="author" value= "@note.UserId" />
                                <input type="hidden" id ="description" value="@note.Description" />
                                <input type="hidden" id ="content" value="@note.Content" />
                                

                                <div class="row" id="buttonRow">
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>                                                                                                       
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    var noteId, noteTitle, noteAuthor, noteDesc, noteContent;
    var div1 = $("#div1");
    var div2 = $("#div2");
    var overlayTitle = $("#noteTitle");
    var overlayAuthor = $("#noteAuthor");
    var overlayDescription = $("#noteDescription");
    var overlayContent = $("#noteContent");
    var overlayState = false;

    $("#closeOverlayBtn").click(function() {
        RemoveOverlay();
        ResetGrid();
        $(".cards__item").css("width", "33.3333%");
        overlayState = false;
    });


    $(document).on("click", ".glyphicon.glyphicon-heart", function() {
        noteId = $(this).closest("li").attr("id");
        var color = $( this ).css("color");        
        if (color == "rgb(255, 0, 0)") {
            $(this).css("color", "rgb(51, 51, 51)");           
        }
        if (color == "rgb(51, 51, 51)") {
            $(this).css("color", "rgb(255, 0, 0)");        
        }
        var like = {
            UserId: @Model.UserItem.Id,
            NoteId: noteId
        };
        var likeObj = { "like" : like};
        var ajaxLike = JSON.stringify(likeObj);
        /*Send AJAX FOR LIKE*/
        $.ajax({
            type: "POST",
            url: "/Like/Add",
            data: ajaxLike,
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });


    $(document).on("click", "li", function () {
        noteId = $(this).closest("li").attr("id");
        noteTitle = $(this).find("input#title").val();
        noteAuthor = $(this).find("input#author").val();
        noteDesc = $(this).find("input#description").val();
        noteContent = $(this).find("input#content").val();
        if (!overlayState) {
            overlayState = true;
            AddOverlay(noteId, noteTitle, noteAuthor, noteDesc, noteContent);
        }
    });

    function AddOverlay(noteId, noteTitle, noteAuthor, noteDesc, noteContent) {
        RemoveOverlay();
        $("#noteSection").addClass("noteOverlayStyling");
        div1.addClass("col-xs-8");
        div2.addClass("col-xs-4");
        $(".cards__item").css("width", "100%");
        document.getElementById("overlay").style.display = "block";
        document.getElementById("whiteOverlay").style.display = "block";
        ///Need to pass the values from the notes to the overlay
        $(overlayTitle).html(noteTitle);
        $(overlayAuthor).html(noteAuthor);
        $(overlayDescription).html(noteDesc);
        $(overlayContent).html(noteContent);
    }

    function RemoveOverlay() {
        document.getElementById("searchBarContainer").style.display = "none";
        div2.removeClass("col-xs-12");
        document.getElementById("overlay").style.display = "none";
    }

    function ResetGrid() {
        div2.addClass("col-xs-12");
        document.getElementById("searchBarContainer").style.display = "block";
    }

</script>
   