@using IShareMVCFinal.DAO
@model IShareMVCFinal.Models.Tables.Note

@{
    ViewBag.Title = "TestHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="overlay">
    <button type="button" class="btn btn-default" id="closeOverlayBtn">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    
    <div id="whiteOverlay">        
        <div id="overlayText">
            <div id="noteTitle"></div>
            <div id="noteAuthor"></div>
            <div id="noteDescription"></div>            
            <hr/>
            <div id="noteContent"></div>
        </div>
        
        <div id="overlayButtonRow">
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
            <button type="button" class="noteButtons btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>                                                                    
        </div>

    </div>
    
    
</div>


<div id="searchBarContainer"> 
    <div class="row">
        <div class="col-md-12">               
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
   <div id="div1"></div>
    <!-- Note Content -->
    <div id="div2" class="col-xs-12">        
        <div id="noteSection">
            <ul class="cards">                
                @foreach (var note in NoteDAO.GetNotes())
                {
                    <li class="cards__item" id= "@note.NoteId">
                        <div class="card">
                            <div class="card__content">
                                <div class="card__title"> @note.Title</div>
                                <div class="card__title"> @note.UserId</div>
                                <p class="card__text"> @note.Description</p>
                                
                                <input type="hidden" id ="title" value="@note.Title" />
                                <input type="hidden" id ="author" value= "@note.UserId" />
                                <input type="hidden" id ="description" value="@note.Description" />
                                <input type="hidden" id ="content" value="@note.Content" />
                                

                                <div class="row" id="buttonRow">
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>                                                                    
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">    
    var noteId, noteTitle, noteAuthor, noteDesc, noteContent;
    var div1 = $("#div1");
    var div2 = $("#div2");
    var overlayTitle = $("#noteTitle");
    var overlayAuthor = $("#noteAuthor");
    var overlayDescription = $("#noteDescription");
    var overlayContent = $("#noteContent");
    var overlayState = false;   
   
    $("#closeOverlayBtn").click(function() {
        RemoveOverlay();
        ResetGrid();
        $(".cards__item").css("width", "33.3333%");      
        overlayState = false;
    });

    $(document).on("click", "li", function () {
        noteId = $(this).closest("li").attr("id");
//        noteTitle = $(this).find("#title").html();
//        noteAuthor = $(this).find("#author").html();
//        noteDesc = $(this).find("#description").html();        

        noteTitle = $(this).find("input#title").val();
        noteAuthor = $(this).find("input#author").val();
        noteDesc = $(this).find("input#description").val();    
        noteContent = $(this).find("input#content").val();

        if (!overlayState) {
            overlayState = true;            
            AddOverlay(noteId, noteTitle, noteAuthor, noteDesc, noteContent);
        }  
    });

    function AddOverlay(noteId, noteTitle, noteAuthor, noteDesc, noteContent) {        
        RemoveOverlay();

        $("#noteSection").addClass("noteOverlayStyling");
        div1.addClass("col-xs-8");
        div2.addClass("col-xs-4");       
        $(".cards__item").css("width", "100%");       
        document.getElementById("overlay").style.display = "block";
        document.getElementById("whiteOverlay").style.display = "block";
        ///Need to pass the values from the notes to the overlay
        $(overlayTitle).html(noteTitle);
        $(overlayAuthor).html(noteAuthor);
        $(overlayDescription).html(noteDesc);
        $(overlayContent).html(noteContent);  
    }

    function RemoveOverlay() {        
        document.getElementById("searchBarContainer").style.display = "none";      
        div2.removeClass("col-xs-12");       
        document.getElementById("overlay").style.display = "none";
    }

    function ResetGrid() {       
        div2.addClass("col-xs-12");
        document.getElementById("searchBarContainer").style.display = "block";
    }

</script>
   













